<div class="container">
  <div class="large-text">Mohamed El-Serafy</div>
  <div class="button-container">
    <div>
      <a mat-fab extended href="tel:+201011412071" target="_blank">
        <mat-icon class="icon">local_phone</mat-icon>
        <span class="fab-text">call me</span>
      </a>
    </div>

    <div>
      <a mat-fab extended href="mailto:elserafy02@gmail.com" target="_blank">
        <mat-icon class="icon">email</mat-icon>
        <span class="fab-text">email</span>
      </a>
    </div>
    <div>
      <a
        mat-fab
        extended
        href="https://1drv.ms/b/c/23844f0229b788a8/EX5AIRaZwyJHiPIR7dndmXoBGmEdGnijIXA76s2Z_5KXfA?e=1elMkw"
        target="_blank"
      >
        <mat-icon class="icon">description</mat-icon>
        <span class="fab-text">Resume</span>
      </a>
    </div>
    <div>
      <a mat-fab extended href="https://github.com/serafy0" target="_blank">
        <mat-icon class="icon">code</mat-icon>
        <span class="fab-text">Github</span>
      </a>
    </div>
  </div>
</div>
