<div class="flex flex-row">
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    (click)="onChange('+')"
  >
    +
  </button>

  <div class="object-left-top bg-yellow-300 w-40 h-30">
    <div>{{ item.name }}</div>

    <div>ingreadints:{{ item.ingr }}</div>
    <div>price:{{ item.price }}</div>
    <div>quantity:{{ item.quantity }}</div>
  </div>
  <img [src]="item.img" class="object-left-top bg-yellow-300 w-20 h-30" />

  <button
    class="bg-orange-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
    (click)="onChange('-')"
  >
    -
  </button>

  <div class="bg-white-400 text-white font-bold py-1 px-1 rounded"></div>
  <div
    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
  >
    {{ count }}
  </div>
</div>
